[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django-debug-toolbar = "*"
kafka-python = "*"
django = "*"
pillow = "*"
pylint = "*"
pylint-django = "*"
djangorestframework = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.13"
