name: Deploy TeamService to DockerHub

on:
  push:
    branches: [ main ]

env:
  DEBUG: True
  DB_ENGINE: django.db.backends.postgresql
  ALLOWED_HOSTS: localhost,127.0.0.1
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5440
  POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
  POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Ejecutar pruebas Django con PostgreSQL

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
        ports:
          - 5440:5432
        options: >-
          --health-cmd="pg_isready -U ${{ env.POSTGRES_USER }} -d ${{ env.POSTGRES_DB }}"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
       
      - name: Print Services
        run: service --status-all

      - name: Verify wal_level
        env:
          PGPASSWORD: ${{ env.POSTGRES_PASSWORD }}
          PGUSER: ${{ env.POSTGRES_USER }}
          PGDATABASE: ${{ env.POSTGRES_DB }}
          PGPORT: 5440
        run: psql -h localhost -U $PGUSER -d $PGDATABASE -p $PGPORT -c "SHOW wal_level;"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install django djangorestframework psycopg2-binary

      - name: Run Django migrations
        run: |
          echo "Ejecutando migraciones..."
          python manage.py migrate --noinput

      - name: Run Django tests
        run: |
          echo "Ejecutando tests con pytest..."
          python manage.py test
  deploy:
    needs: tests
    runs-on: ubuntu-latest
    name: Construir y desplegar microservicio en docker

    env:
      IMAGE_NAME: teamservice
      DOCKERHUB_REPO: dase123/udlaia-stats

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Iniciar sesión en DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Construir imagen del microservicio Django
        env:
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          FRONTEND_URL: ${{ secrets.FRONTEND_URL }}
        run: |
          docker build \
            --build-arg DEBUG=True \
            --build-arg ALLOWED_HOSTS=localhost,127.0.0.1 \
            --build-arg POSTGRES_HOST=localhost \
            --build-arg POSTGRES_PORT=5440 \
            --build-arg POSTGRES_DB=${{ env.POSTGRES_DB }} \
            --build-arg POSTGRES_USER=${{ env.POSTGRES_USER }} \
            --build-arg POSTGRES_PASSWORD=${{ env.POSTGRES_PASSWORD }} \
            --build-arg FRONTEND_URL=${{ env.FRONTEND_URL }} \
            -t ${{ env.IMAGE_NAME }} \
            -f Dockerfile .

      - name: Etiquetar imagen
        run: |
          docker tag ${{ env.IMAGE_NAME }} ${{ env.DOCKERHUB_REPO }}:${{ env.IMAGE_NAME }}

      - name: Subir imagen a DockerHub
        run: |
          docker push ${{ env.DOCKERHUB_REPO }}:${{ env.IMAGE_NAME }}

      - name: Mostrar imágenes subidas
        run: docker images | grep ${{ env.IMAGE_NAME }}